body{
    background-color: hsl(217, 54%, 11%);
     font-family: 'Outfit', sans-serif;
    ;
}

.card{
      margin: auto;
      width: 350px;
      height: 600px;
      background-color: hsl(216, 50%, 16%);
      padding: 20px;
      border-radius: 20px;
}

#main-img{
     width: 350px;  
     height: 340px;
     border-radius: 20px;
}

.content{
    color:  hsl(0, 0%, 100%);
    font-weight: 200px;
}
.content p{
color:  hsl(215, 51%, 70%);
}

.deadline{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
}

.etherium{
    display: flex;
    text-align: center;
    color:  hsl(178, 100%, 50%);
}
#etherium{
    padding-right: 10px;
    height: 1rem;
   padding-top: 20px;
    
}
.clock{
    display: flex;
   
}