body{
    background-color: hsl(217, 54%, 11%);
     font-family: 'Outfit', sans-serif;
    ;
}

.card{
      margin: auto;
      width: 300px;
      height: 530px;
      background-color: hsl(216, 50%, 16%);
      padding: 20px;
      border-radius: 10px;
      margin-top: 30px;
      box-shadow: 10px 10px 20px hsl(213, 33%, 5%);
}

#main-img{
     width: 300px;  
     height: 270px;
     border-radius: 10px;
}

.content{
    color:  hsl(0, 0%, 100%);
    font-weight: 200px;
}
.content p{
color:  hsl(215, 51%, 70%);
padding-right: 20px;
}

.deadline{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
}

.etherium{
    display: flex;
    text-align: center;
    color:  hsl(178, 100%, 50%);
    align-items: center;
    gap: 10px;
}
#etherium{

    height: 1rem;
  
    
}
.clock{
    display: flex;
    gap:10px;
    text-align: center;
    color: hsl(215, 51%, 70%);
    align-items: center;
}
.clock img{
   
    height: 1rem;
   
   text-align: center;
}

.creation{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(140, 140, 140);
    
    text-align: center;
    align-items: center;
    padding-right: 90px;
    color:hsl(215, 51%, 70%);
    
}

.creation img{
height: 2rem;
border: 2px solid wheat;
border-radius: 50%;
}
.creation img h5{
margin-top: 30px;
}

#name{
    color: white;
}

.attribution{
    margin-top: 30px;
    color: white;
}